:root{
    --pal-color-0:#000b1c;
    --pal-color-1:#00347a;
    --pal-color-2:#004ab4;
    --pal-color-3:#007aff;
    --pal-color-4:#6dbbff;
    --pal-color-5: #dcecff;
    --pal-color-6:#eef5ff;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial;
    box-sizing: border-box;
}
body{
    background-color: var(--pal-color-0);
}
/*header*/
.header{
    width: 100%;
    height: 80px;
    background-color: var(--pal-color-1);
    display: flex;
    align-items:  center;
    justify-content: space-between;
padding:0 100px;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: var(--pal-color-6);
    text-shadow: 4px 2px 3px rgba(0, 11, 28, 0.596);
}
.barrs{
    display: none;
}
.nav ul{
    display: flex;
}
.nav ul li a{
    display: block;
    color:var(--pal-color-6);
    box-shadow: 4px 2px 12px rgba(0, 11, 28, 0.616);
    font-size: 20px;
    padding: 10px 25px;
    border-radius:50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav ul li a:hover{
    color: #0F0F0F;
    box-shadow: 4px 2px 12px rgba(0, 11, 28, 0.616);
    background-color: var(--pal-color-5);
}
.nav ul li a.active{
    color: #0F0F0F;
    box-shadow: 4px 2px 12px rgba(0, 11, 28, 0.616);
    background-color: var(--pal-color-5);
}
/*search*/
.contbus{
    display: flex;
   justify-content: flex-end;
   margin: 30px 170px;
   padding: 0 140px;
}.search {
    position: relative;
    height: 50px;
  }
  
  .search .input {
    border-radius:20px ;
    background-color: var(--pal-color-1);
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
  }
  
  .btn {
    background-color: var(--pal-color-2);
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
  }
  
  .btn:focus,
  .input:focus {
    outline: none;
  }
  
  .search.active .input {
    width: 200px;
  }
  
  .search.active .btn {
    transform: translateX(208px);
  }
   
/*PRESENTACION*/
.container {
    display: flex;
    width: 90vw;
  }
  
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    height: 80vh;
    border-radius: 50px;
    color: var(--pal-color-6);
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
  }
  
  .panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  
  .panel.active {
    flex: 5;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  /*ubicacion*/
  .ubicacioncont{
    height: 630px;
    width: 100%;
  }
  .ubip{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: left;
    height:  100%;
    align-items: center;
    display: grid;
    grid: "textoini . ." 1fr
    "mapc . ." 1fr
    "mapc . ." 1fr
    /1fr 1fr 1fr;
}
.mapcontg{
padding-left: 140px;
    grid-area: mapc;
    width: 100%;
    display: block;
    
}
@media screen and (max-width: 795px){
    .ifmap{
        width: 370px;
        height: 300px;
    }
    
}

.mapcont{
    width: 100%;
    height: 100%;
}
.texto{
    grid-area:textoini ;
    padding: 13% 0;
    padding-left: 140px;
    width: 100%;
    font-weight: bold;
    text-shadow: 1px 3px 4px  rgba(0, 0, 0, 0.5);

}
.bienv1{
    font-size: 45px;
    color: var(--pal-color-4);
}
.bienvini{
    color: #fff;
}
.bienv2{
    color: #fff;
    font-size: 33px;
}
.bienv1, .bienvini, .bienv2{
    width: max-content;
    padding: 10px 0 ;
    text-align: left;
}
@media screen and (max-width: 865px){
    .bienv1, .bienvini, .bienv2{
        width: max-content;
        padding: 14px 0 ;

    }

    .bienv1{
        font-size: 25px;
    }
    .bienv2{
        font-size: 15px;
    }
}
  @media (max-width: 480px) {
    .container {
      width: 100vw;
    }
  }
  /*nav catalogo tipos*/
  .subcatalogo{
    width: 100%;
  }
  .subcatalogo > nav{
    width: 100%;

    background-color: var(--pal-color-2);
    margin:  auto;
    border-radius:0 0 20px 20px;
    padding: 0 30px;

  }
  .subcatalogo>nav>ul{
    list-style: none;
    position: relative;
    text-align: center;
  }
  .subcatalogo>nav>ul>li{
    display: inline-block;
  }
  .subcatalogo>nav>ul>li>a{
    color: var(--pal-color-6);
    text-decoration: none;
    display: block;
    padding: 20px;
    font-family: Arial;
    font-weight: bold;
  }
  .subcatalogo>nav>ul>li>a span{
    font-size: 20px;
    position: absolute;
    bottom:-6px;
    display: none;
  }
  .subcatalogo>nav>ul>li:hover span{
    display: block;   
  }
  .subcatalogo>nav>ul>li .submenu{
    background-color: var(--pal-color-6);
    padding: 20px;
    position: absolute;
    display: none;
    -webkit-box-shadow: 0px 0px  5px 1px rgba(0,0,0.24);
    -moz-box-shadow:0px 0px  5px 1px rgba(0,0,0.24);
    box-shadow: 0px 0px  5px 1px rgba(0,0,0.24);
    z-index: 5;

    /*para el responsive left: -100px;*/
  }
  .subcatalogo nav>ul>li:hover .submenu{
    display: flex;
  }
  .subcatalogo>nav>ul>li> .submenu .submenu-item{
    margin: 0 20px;
  }
  .subcatalogo>nav>ul>li> .submenu .submenu-item p{
    font-weight: 600;
    width: 110px;
    display: block;
    padding-bottom:5px;
    border-bottom: 1px solid var(--pal-color-2);
    margin-bottom: 10px;
  }
  .subcatalogo>nav>ul>li> .submenu .submenu-item a{
    color: var(--pal-color-1);
    text-decoration: none;
    margin: 5px 0;
    max-width: max-content;
  }
  /*producto detalles*/
.producto{
    text-align: center;
    width: 100%;
    height: 2800px;
    padding: 0 140px;
    color: var(--pal-color-6);
    margin-top:25px ;
    line-height: 1.4;
}
.img-portada {
    display: block;
    margin: auto auto 4px;
    width: 400px;
    height: 500px;
    
}
.img-portada > img{
    width: 100%;
    height: 100%;
}
.cont-descripcion > p{
    width: 500px;
    display: block;
    margin: auto;
    
}
.spf {
    font-weight: normal;
}
.ficha-tec >strong{
display: block;
}
.capturas > img{
    width: 700px;
    display: block;
    margin: 20px auto;
}
.producto h3{
    color: var(--pal-color-3);
}
/*grid recomendados*/
.destacados-cont{
    width: 100%;
    height: 500px;
    padding: 0 ;
}
.title-contdestacados{
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 60%;
    height: 10%;
    padding: 14px;
}
 .title-contdestacados h3, .tittle-ultipublis h3{
    margin: 10px;
    color: var(--pal-color-4);
max-width: max-content;
}

.grid-destacados{
    padding: 5px ;
    width: 100%;
    height: 80%;
    margin: 0 90px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

}
/*grid de catalogo*/
.cont-catalogo{
    width: 100%;
    height: 100%;
    padding: 20px ;
}
.grid-catalogo{
    padding: 5px;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.cont-ultim{
    width: 100%;
    height: 800px;
    padding: 0;
}
.tittle-ultipublis{
    display: flex;
    align-items: center;
    height: 10%;
}
.grid-ultim{
    padding: 5px;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.grid-ultim > .tarjeta{
    max-width: 200px;
}

.tarjeta{
    margin: auto;
    position: relative;
    transition: all .3s ease;
    width: 100%;
    height: 100%;
    min-height: 300px;
    max-width: 300px;
}

.img-tarjeta:first-child{
    width: 100%;
    height: 100%;
    box-shadow: 0 60px 60px
    -60px rgb(0, 30, 255, 0.5);
    border-radius: 4px;
    object-fit: cover;
}

.titulo-tarjeta{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(25%);
    transition:  .3s ease;
    opacity: 0;
    color: var(--pal-color-6);
    text-align: center;
    padding-bottom: 35px;
    font-weight: bold;
}
.tarjeta:hover{
    transform: perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0); 
}
.tarjeta::before{
content: '';
position: absolute;
bottom: 0;
height: 100%;
width: 100%;
background-image: linear-gradient(
    to bottom,
    transparent 10%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0)95%
);
opacity: 0;
transition: all .3s ease;
}
/*mostrar el degradado*/
.tarjeta:hover::before{
    opacity: 1;
}
.tarjeta:hover .titulo-tarjeta{
    opacity: 1;
    transform: translateY(10%);
}
/* boton para la ventana modal*/
.boton-modal{
    background-color: var(--pal-color-3);
    font-family: Arial;
    font-weight: bold;
    border-radius: 30px;
    font-size: 25px;
    padding: 4px;
    color: var(--pal-color-5);
    border:none;
    width: 285px;
    margin: auto;
    width: max-content;    
    transition: 0.3s ease 0.3ms;
}
.boton-modal > label{
    width: 100%;
    margin: 0;
    height: 100%;
    color:var(--pal-color-6);
    cursor: pointer;
    transition: all 300ms ease;
}
.boton-modal:hover{
background-color: var(--pal-color-1);
margin: auto;
padding: 7px;
border-radius: 30px;
}
/*ocultar checkbps de vmodal*/
#btn-modal{
    display: none;
}
#btn-modal:checked ~ .contenedor-vmodal{
    display: flex;
}
.contenedor-vmodal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0 ; left: 0;
    background-color: rgba(7, 7, 52, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.contenido-Vmodal{
    width: 100%;
    margin: 0 140px;
    max-width: 90%;
    padding: 20px;
    background-color: var(--pal-color-0);
    border-radius: 30px;
}
.contenVmodal{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2,1fr);
    gap: 76px;
}
.cont1{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    margin: auto;
}
.nombreprodM{
    margin: auto;
    color: var(--pal-color-5);
    font-weight: bold;
    font-family: Arial;
    font-size: 1.8rem;
}
.img-vm{
    width: 85%;
    height: 85%;
    border-radius: 10px;
}
.cont2{
    display: grid;
    grid:
    "contenido1 contenido2" 1fr
    "descripcion descripcion" 1fr
    /1fr 1fr;
    gap:8px;
}
.contenido1{
    grid-area: contenido1;
    margin:  auto 0;
    line-height: 2.4em;
}
.contenido2{
    grid-area: contenido2;
    margin: auto 0;
    line-height: 2.5em;
}
.descripcion{
    grid-area: descripcion;
    line-height: 1.5em;
}
.p1{
    display: block;
    font-family: Arial;
    color: var(--pal-color-3);
    font-weight: bold;
}
.p2{
    font-weight: normal;
    font-family: Arial;
    color: var(--pal-color-5);
}
.p3{
    font-family: Arial;
    color: var(--pal-color-3);
    font-weight: bold;
}
.boton-cerrarVmodal{
    display: flex;
    justify-content: flex-end;
}
.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;left: 0;
    z-index: -1;
}
.reservalos{
    background-color: var(--pal-color-1);
    font-family: Arial;
    font-size: 15px;
    font-weight:bold;
    color: var(--pal-color-5);
    border: none;
    padding: 15px;
    margin: auto;
    margin-top: 55px;
    display: block;
    border-radius: 30px;
}
/*footer*/
.foot1 {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pal-color-1);
    color: var(--pal-color-6);
    padding: 15px;
    margin: 0;
    font-family: Arial;
  }
  .fila-contactos, .fila-redes {
    flex: 1;
    text-align: center;
  }
  
  .fila-contactos h2, .fila-redes h2 {
    font-size: 41px;
  }
  
  .fila-contactos p, .fila-redes a {
    margin: 5px 7px;
    font-size: 20px;
  }
  
  .fila-redes a img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }

    .foot2{

      background-color: var(--pal-color-0);
      color: var(--pal-color-4);
      width: 100%;
      height: 55px;
      text-align: center;
      padding-top: 15px;
      font-size: 25px;
      font-family: Arial;

    }
    .fila-contactos, .fila-redes {
        margin: 30px 0;
    }
    .footer, .foot2{
      margin-top: 0;
    }

@media  only screen and (max-width:1320px){
    .header{
        padding: 0 50px;
    }
    .foot1 {
        
        flex-direction: column;
        padding: 70px;
      }
      .foot2 p{
            margin-top: 19px;
        font-size: 15px;
      }

}
@media only screen and (max-width:1100px){
    .header{
        padding: 0 30px;
    }
    .contenido1{
        line-height: 1em;
        font-size: 0.9rem;
    }
    .contenido2{
        line-height: 1em;
        font-size: 0.9rem;
    }
    .descripcion{
        line-height: 1em;   
        font-size: 0.9rem;
    }
    .contenido-Vmodal{
        max-height: 90%;
    }
    .contenVmodal{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 1fr;
        gap: 1px;
    }
    .img-prodm{
        height: 100%;
        margin: auto;
    }
    .img-vm{
        height:200px;
        width: 150px;
    }
    .reservalos{
        margin-top: 10px;
    }
}
@media only screen and (max-width:978px){
    .capturas > img{
        width: 100%;
        display: block;
        margin: 20px auto;
    }
    .ytvideo{
        width: 100%;
    }
    .cont-descripcion>p{
        width: 100%;
    }
    .img-portada>img{
        width: 100%;
        height: 400px;
    }
    .img-portada{
        width: 100%;
    }
}
@media only screen and (max-width:900px ) {
 .barrs{
    display: block;
    cursor: pointer;
}
.barrs .line  {
 width: 30px;
 height: 3px;
 background: var(--pal-color-6);
 margin: 6px 0;   
}
.nav{
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background:var(--pal-color-1);
    transition: 0.5s;
    overflow: hidden;
    z-index: 6;
}
.nav.active{
    height: 450px;
}
.nav ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
}
.nav.active ul{
    opacity: 1;
}
.nav ul li a{
    margin-bottom: 12px;
    color: var(--pal-color-6);
}
}
/*media hover para dispositivos moviles*/
@media only screen and (max-width:485px){
.contbus{
    display: none;
    margin:10px 0 ;
}
.cont-catalogo{
    margin: 0;
    padding: 0;
}
.grid-catalogo{
    padding: 0;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    
}
.fila-contactos h2, .fila-redes h2{
    font-size: 20px;
}
.fila-contactos p, .fila-redes a{
    font-size: 9px;
}
} 